<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @judge_activity.time %>
</p>

<p>
  <strong>User:</strong>
  <%= @judge_activity.user_id %>
</p>

<p>
  <strong>Word:</strong>
  <%= @judge_activity.word_id %>
</p>

<%= link_to 'Edit', edit_judge_activity_path(@judge_activity) %> |
<%= link_to 'Back', judge_activities_path %>
