<%= form_for(@guess_activity) do |f| %>
  <% if @guess_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guess_activity.errors.count, "error") %> prohibited this guess_activity from being saved:</h2>

      <ul>
      <% @guess_activity.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br>
    <%= f.datetime_select :time %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :word_id %><br>
    <%= f.number_field :word_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
