<div class="page-header">
	<h1><%= @word.length %> Letter(s)<small><%= @word.property %></small></h1>
</div>
<ul class="list-group">
	<% @old_guesses.each do |guess| %> 
		<% if guess.judge == "new" %>
			<li class="list-group-item list-group-item-info"><%= guess.content %><span class="glyphicon glyphicon-time"></span></li>
		<% elsif guess.judge == "true" %>
			<li class="list-group-item list-group-item-success"><%= guess.content %><span class="glyphicon glyphicon-thumbs-up"></span></li>
		<% elsif guess.judge == "false" %>
			<li class="list-group-item list-group-item-danger"><%= guess.content %><span class="glyphicon glyphicon-thumbs-down"></span></li>
		<% else %>
			<li class="list-group-item list-group-item-warning"><%= guess.content %><span class="glyphicon glyphicon-trash"</span></li>
		<% end %>
	<% end %>
</ul>

<%= form_tag(do_judge_path, method: "post") do %>
	<div class="form-group">
		<%= text_field_tag "guess_content", nil, placeholder: "New Guess", class: "form-control" %>
	</div>
	<%= hidden_field_tag :activity_id, @guess_activity.id %>
	<%= hidden_field_tag :word_id, @word.id %>
	<% if not @guess_to_judge.nil? %>
		<%= hidden_field_tag :guess_to_judge_id, @guess_to_judge.id %>
		<ul class="list-group">
			<li class="list-group-item">
			<h3><%= @word_of_guess_to_judge.word %><small><%= @word_of_guess_to_judge.property%></small></h3>
			</li>
			<li class="list-group-item"><%= @guess_to_judge.content %></li>
			<li class="list-group-item">
			<div class="input_group">
				<%= radio_button_tag :judge, :ture, false %>True<br>
				<%= radio_button_tag :judge, :false, false %>False<br>
				<%= radio_button_tag :judge, :not_sure, false %>Not Sure<br>
				<%= radio_button_tag :judge, :guess_right, false %>Guess Right<br>
			</div>
			</li>
		</ul>
		<%= submit_tag("Guess & Judge", class: "btn btn-default") %>
	<% else %>
		<%= submit_tag("Guess", class: "btn btn-default") %>
	<% end %>
<% end %>

