<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @word.word %>
</p>

<p>
  <strong>Property:</strong>
  <%= @word.property %>
</p>

<p>
  <strong>Count:</strong>
  <%= @word.count %>
</p>

<%= link_to 'Edit', edit_word_path(@word) %> |
<%= link_to 'Back', words_path %> |
<%= link_to 'New Word', new_word_path %>
